@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="row">

    </div>

    <div class="col-md-12">
        <table class="table table-bordered table-responsive table-hover">
            <caption>On Going Lesson</caption>
            <thead>
                <tr class="success">
                    <th></th>
                    <th>Year I</th>
                    <th>Year II</th>
                    <th>Year III</th>
                    <th>Year IV</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="tablecell">Computer Science</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                </tr>
                <tr>
                    <td class="tablecell">Information Technology</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                </tr>
                <tr>
                    <td class="tablecell">Software Engineering</td>
                    <td>Mumbai</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                </tr>
                <tr>
                    <td class="tablecell">BRAM</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                </tr>
                <tr>
                    <td class="tablecell">Information Systems</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                </tr>
                <tr>
                    <td class="tablecell">BLIS</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                    <td>Bangalore</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="row">

</div>