<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  
  <add key="FromAddress" value="no-reply@cocistimetable.com"/>
  <add key="SenderId" value="Cocis"/>
  <add key="ApiKey" value="6fe56b3c-0161-4e38-ab95-961cddbfecba"/>
  
</appSettings>
