<!--<connectionStrings>
  <clear />
  <add name="DefaultConnection" connectionString="Data Source=S16294333\SQLEXPRESS2012;Initial Catalog=ContextAwareAndRealTimeTimeTable;user id=sa;password=kagwa18$$;" providerName="System.Data.SqlClient" />
  <add name="ContextAwareAndRealTimeTimeTableEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SSERURICH-PC\SQLEXPRESS2012;initial catalog=ContextAwareAndRealTimeTimeTable;persist security info=True;user id=sa;password=kagwa18$$;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>-->

<connectionStrings>
  <clear />
  <add name="DefaultConnection" connectionString="Data Source=S16294333\SQLEXPRESS2012;Initial Catalog=ContextAwareAndRealTimeTimeTable;user id=sa;password=phas2f3;" providerName="System.Data.SqlClient" />
  <add name="ContextAwareAndRealTimeTimeTableEntities" connectionString="metadata=res://*/Models.Model.csdl|res://*/Models.Model.ssdl|res://*/Models.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=S16294333\SQLEXPRESS2012;initial catalog=ContextAwareAndRealTimeTimeTable;persist security info=True;user id=sa;password=phas2f3;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>